.DS_Store
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/node_modules
/yarn-error.log

log/**/*
tmp/**/*

.env.development
.env.test

config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml

coverage
