<h1>Como funciona</h1>
<p>Breve explicação de como funciona</p>

<% if current_user %>
  <h2>Escolha quão insatisfeito você está com a empresa XYZ</h2>
  <p>Aqui vai o select com as opções e o botão de enviar</p>
<% else %>
  <p>Favor fazer o login com sua conta do twitter</p>
<% end %>
