// Colors

$backgroundColor: #F55353;
$primary: #D34747;
$twitterColor: #1DA1F2;

// Fonts

$font-sans: "Montserrat", "Open Sans", Verdana, Arial, Helvetica, sans-serif;

// Media Breakpoints

$media-breakpoint-mobile: 600px;
$media-breakpoint-tablet: 900px;
$media-breakpoint-desktop: 1200px;
$media-breakpoint-big-desktop: 1800px;
