<footer class="footer wrapper">
  <p>Made for <a href="https://hacktoberfest.digitalocean.com/">Hacktoberfest 2017</a>.</p>
  <p>Want to build a site like this? <%= link_to 'Check out the source', 'https://github.com/yogodoshi/cansei' %>.</p>

  <nav class="footer-social-links">
    <%= link_to 'https://github.com/yogodoshi/cansei', class: 'footer-social-link' do %>
      <%= render 'svg/github' %>
    <% end %>
  </nav>
</footer>
