<footer class="footer wrapper">
  <p>Quer criar um site como esse para outra empresa? <%= link_to 'Veja como', 'https://github.com/yogodoshi/cansei', title: 'Projeto open source: cansei', target: 'blank' %>.</p>
</footer>
