<footer class="footer wrapper">
  <p>Made for <a href="https://hacktoberfest.digitalocean.com/">Hacktoberfest 2017</a>.</p>
  <p>Quer criar um site como esse para outra empresa? <%= link_to 'Veja como', 'https://github.com/yogodoshi/cansei', title: 'Projeto open source: cansei' %>.</p>

  <nav class="footer-social-links">
    <%= link_to 'https://github.com/yogodoshi/cansei', class: 'footer-social-link' do %>
      <%= render 'svg/github' %>
    <% end %>
  </nav>
</footer>
